<div id="footer">

    <div id="contacts">
        <div style="
            font-family: 'Syne Tactile', cursive;
            font-size: 30px;
            font-weight: bold;
            margin-top: 30px;
            margin-bottom: 30px;">
            Let's connect!<br></div>
        <section id="contacts-child">
            <div class="profile">
                <a id="profile-link" href="https://www.freecodecamp.org/aritra855" target="_blank">
                    <img class="prfl-img"
                        src="./assets/fcc.jpg"
                        alt="Profile" />
                </a>
                <a href="https://github.com/brainstormed" target="_blank">
                    <img class="prfl-img"
                        src="./assets/github.png"
                        alt="Github" />
                </a>
                <a href="mailto:aritramondal855@gmail.com" target="_blank">
                    <img class="prfl-img"
                        src="./assets/mail.png"
                        alt="Email" />
                </a>
                <a href="https://codepen.io/aritramondal855" target="_blank">
                    <img class="prfl-img"
                        src="./assets/cdpn.png"
                        alt="Codepen" />
        </section>
    </div>

    <footer>
        &copy; 2022 Aritra Mondal
    </footer>

</div>