<nav id="navbar">
    <button class="button">
        <div class="nav-elmnt blog-h"><a class="nav-link" href="/">Home</a></div>
    </button>

    <button class="button">
        <div class="nav-elmnt blog-h"><a class="nav-link" href="/blog">Blog</a></div>
    </button>
</nav>