@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Fira+Sans+Condensed:wght@200&family=JetBrains+Mono:wght@200&family=Roboto:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Syne+Tactile&display=swap');

html,
body {
  margin: auto;
  max-width: 101vw;
  scroll-behavior: smooth;
  background-color: rgb(121, 84, 37);
  scrollbar-color: rgba(88, 0, 0, 0.712) rgb(255, 255, 255);
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(88, 0, 0, 0.712);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 20px;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
  height: 100vh;
  background-color: #303870;
  color: rgb(200, 255, 0);
}

#navbar {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgb(255, 214, 103);
  box-shadow: 0 10px 10px rgb(54, 54, 54);
  z-index: 10;
}

.nav-elmnt {
  flex: 1 1 0;
  flex-wrap: nowrap;
  font-size: 17px;
  display: block;
  font-weight: bold;
  color: rgb(49, 74, 107);
  color: rgb(107, 90, 23);
  min-height: 100%;
}

#work-header {
  font-size: 20px;
  margin-top: 70px;
  margin-left: 40px;
  font-family: "Fira Code", monospace;
  color: #400a55;
}

a {
  text-decoration: none;
  color: rgb(0, 17, 39);
  font-size: 1.1em;
}

.nav-link {
  color: rgb(107, 90, 23);
}

#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  font-weight: bold;
  font-size: large;
}

.intro {
  display: flex;
  font-family: "Fira Code", monospace;
  font-size: medium;
  max-width: 90vw;
}

.project-tile {
  padding: 40px;
  font-family: "JetBrains Mono", monospace;
  font-size: 14px;
  text-align: center;
}

#projects-container {
  background-color: #ddfdd0;
  margin-top: -70px;
}

.button {
  height: 60px;
  padding-top: 15px;
  background-color: transparent;
  border: none;
  width: 100px;
  max-width: 33vw;
}

.img {
  display: block;
  width: 400px;
  max-width: 80vw;
  height: auto;
  border: rgb(6, 0, 85) double 8px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.img:hover {
  animation: img-hover 500ms linear forwards;
}

#contacts {
  display: grid;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: -20px;
  margin-bottom: -50px;
  background-color: #303870;
  font-size: 30px;
  text-align: center;
}

img {
  width: 50px;
  background-color: rgb(240, 248, 255);
  border-radius: 50%;
  padding: 10px;
  margin: 20px;
}

#menu {
  display: none;
}

footer {
  display: flex;
  height: 30px;
  justify-content: end;
  align-content: center;
  font-family: "Fira Code", monospace;
  margin-top: 60px;
}

.prfl-img:hover {
  animation: img-hover 500ms linear forwards;
}

.button:hover {
  animation: btn-hover 500ms linear forwards;
}

@keyframes btn-hover {
  100% {
    background-color: rgba(184, 135, 11, 0.651);
  }
}

@keyframes img-hover {
  100% {
    box-shadow: rgb(36, 36, 36) 10px 10px 10px;
  }
}

@media all and (max-width: 550px) {
  #navbar {
    position: sticky;
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: max-content;
    background: rgb(255, 214, 103);
    box-shadow: 0 10px 10px rgb(54, 54, 54);
    z-index: 10;
  }

  .project-tile {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    height: auto;
    font-size: 14px;
    border-radius: 10px;
    margin: 0;
  }
}
