---
layout: 'base.njk'
---

<section id="body">
  <div style="height: fit-content; margin-top: 5em;">

    <h1 class="article-heading">
      {{ title }}
    </h1>

    <img id="main-img" src="{{ image }}"
      alt="{{imageAlt}}">
    <figcaption id="cc">{{imageAlt}}</figcaption>

    <div class="article-content">
      {{ content | safe }}
    </div>

  </div>
</section>