<header>
  <nav id="navbar">
    <button class="button">
      <div class="nav-elmnt">
        <a class="nav-link" href="#welcome-section">About</a>
      </div>
    </button>
    <button class="button">
      <div class="nav-elmnt">
        <a class="nav-link" href="#work-header">Work</a>
      </div>
    </button>
    <button class="button">
      <div class="nav-elmnt" id="contact"><a class="nav-link" href="#contacts">Contact</a></div>
    </button>
    <button class="button">
      <div class="nav-elmnt"><a class="nav-link" href="./blog">Blog</a></div>
    </button>
    <button class="button">
      <div class="nav-elmnt"><a class="nav-link" href="#featured">Featured</a></div>
    </button>
  </nav>
</header>