---
title: Test article
layout: 'base.njk'
header: 'header.njk'
---

<section id="body">
  <div style="height: fit-content; margin-top: 5em;">

    <h1 class="article-heading" style="
            color: #333;
            font-family: 'Fira Sans Condensed', sans-serif;
            font-size: 2em;
            text-align: center;
          ">
      Test Article
    </h1>

    <img id="main-img" src="https://www.codingdojo.com/blog/wp-content/uploads/Screen-Shot-2021-09-17-at-1.31.39-PM.png"
      alt="hello">

    <h2 class="para-heading"><p>Heading 2</p></h2>

    <p class="article-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec gravida tempor laoreet. Integer tristique vel
      velit eget ultrices. Donec non orci vel turpis eleifend fermentum. Vestibulum enim odio, ultrices vitae tempus
      quis, molestie non velit. Sed elementum urna fermentum massa ornare, eget tempus dolor molestie. Suspendisse
      potenti. Cras tellus ipsum, fermentum in efficitur eu, dignissim at ipsum. Curabitur auctor vitae odio sit amet
      eleifend. Quisque varius magna id justo cursus imperdiet. Cras a tortor finibus, ornare lectus in, gravida dolor.
      Phasellus consectetur quis purus quis lobortis. Fusce vel dui porttitor, semper lorem at, aliquam ex.

      Nullam id justo interdum, ultricies dui quis, vulputate sem. Nunc id quam varius, lobortis ligula quis, vestibulum
      diam. Nunc scelerisque auctor volutpat. Suspendisse euismod mattis urna sed facilisis. Donec iaculis eros
      tristique sollicitudin tincidunt. Vivamus vitae ex commodo, tincidunt nisl id, interdum ex. In et metus efficitur,
      tincidunt ex quis, suscipit lorem. Sed sagittis turpis euismod neque lobortis eleifend. Sed sed ex sed mi
      fermentum gravida sed a nisi. Maecenas pharetra euismod nunc, ut suscipit urna interdum id.</p>
  </div>
</section>