@media (prefers-color-scheme: light) {
  :root {
    --clr-secondary: hsl(0, 0%, 95%);
    --clr-selection: hsl(0, 100%, 17%);
    --clr-body-secondary: hsl(249, 41%, 35%);
    --clr-green: hsl(73, 100%, 50%);
    --clr-nav: hsl(9, 64%, 73%);
    --clr-nav-hover: hsl(9, 54%, 55%);
    --clr-ochre: hsl(48, 65%, 25%);
    --clr-primary: hsl(0, 0%, 21%);
    --clr-blue: hsl(221, 97%, 71%);
    --clr-shdw: hsl(240, 14%, 23%);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-secondary: hsl(0, 0%, 21%);
    --clr-selection: hsl(0, 30%, 69%);
    --clr-body-secondary: hsl(67, 63%, 80%);
    --clr-green: hsl(73, 64%, 14%);
    --clr-nav: hsl(8, 15%, 40%);
    --clr-nav-hover: hsl(8, 15%, 55%);
    --clr-ochre: hsl(48, 65%, 25%);
    --clr-primary: hsl(0, 0%, 97%);
    --clr-blue: hsl(0, 100%, 89%);
    --clr-shdw: hsl(240, 14%, 77%);
  }
}

html, body {
  margin: auto;
  max-width: 100vw;
  scroll-behavior: smooth;
  background-color: var(--clr-secondary);
  scrollbar-color: var(--clr-selection) var(--clr-secondary);
  scrollbar-width: thin;
  overflow-x: hidden;
  transition: all 0.5s ease;
}

#body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  font-weight: bold;
  font-size: large;
  background-color: var(--clr-secondary);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--clr-secondary);
}

::-webkit-scrollbar-thumb {
  background-color: var(--clr-selection);
  border: 1px solid var(--clr-secondary);
  border-radius: 20px;
}

::selection {
  background-color: var(--clr-blue);
  color: var(--clr-secondary);
}

#navbar {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  gap: 1em;
  background: var(--clr-nav);
  box-shadow: 0 10px 10px var(--clr-shdw);
  z-index: 10;
}

.nav-elmnt {
  flex: 1 1 0;
  flex-wrap: nowrap;
  font-size: 17px;
  display: block;
  font-weight: bold;
  color: var(--clr-ochre);
  min-height: 100%;
}

.button {
  height: 60px;
  padding-top: 15px;
  display: inline-block;
  background-color: transparent;
  border: none;
  min-height: max-content;
  padding-inline: 1em;
}

a {
  text-decoration: none;
  color: var(--clr-primary);
  font-size: 1.1em;
  font-family: system-ui;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
  height: 110vh;
  background-color: var(--clr-body-secondary);
  color: var(--clr-green);
}

#projects-container, #featured {
  background-color: var(--clr-secondary);
  margin-top: -70px;
}

#work-header {
  padding-top: 3em;
  padding-left: 2em;
  font-size: 20px;
  margin-top: 70px;
  margin-left: 40px;
  font-family: "Fira Code", monospace;
  color: var(--clr-body-secondary);
}

.intro {
  display: flex;
  font-family: "Fira Code", monospace;
  font-size: medium;
  max-width: 90vw;
}

.project-tile {
  padding: 40px;
  font-family: "JetBrains Mono", monospace;
  font-size: 14px;
  text-align: center;
}

.img {
  display: block;
  width: 400px;
  max-width: 80vw;
  height: auto;
  border: var(--clr-primary) double 8px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.img:hover, .img:focus, .img:active {
  animation: img-hover 500ms linear forwards;
}

#featured {
  position: relative;
  top: 2em;
  padding-bottom: 3em;
  margin-bottom: 2em;
}

#featured > h2, #featured > p {
  position: relative;
  left: -0.5em;
  padding-top: 1.5em;
  color: var(--clr-primary);
}

.article-heading {
  color: var(--clr-primary);
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 2em;
  text-align: center;
}

.article-content > p {
  display: block;
  text-align: justify;
  width: 55em;
  max-width: 80vw;
  margin: auto;
  margin-bottom: 2em;
  font-weight: 300;
  line-height: 150%;
  font-family: "Noto", sans-serif;
  color: var(--clr-primary);
}

.article-title {
  font-size: 1.8em;
  font-family: "Fira Code", monospace;
  color: var(--clr-primary);
}

.articlebody {
  height: fit-content;
  margin-top: 5em;
}

.article {
  position: relative;
  top: 3em;
}

.para-heading {
  font-family: "JetBrains Mono", monospace;
  display: flex;
  justify-content: center;
}

.link-btn {
  justify-self: center;
  color: var(--clr-primary);
  border: 3px var(--clr-primary) solid;
  /*background-image: linear-gradient( 35deg, rgb(231, 171, 171), rgb(209, 233, 255) );*/
  background-image: linear-gradient( 35deg, var(--clr-secondary), var(--clr-nav));
  border-radius: 0.8em;
  position: relative;
  display: block;
  height: 3em;
  margin-top: 2rem;
  font-size: 1.005em;
  font-weight: 200;
  background-size: 300%;
  background-position: left;
  transition: all 0.5s ease-in;
}

.link-btn:hover, .link-btn:focus {
  background-position: right;
  transition: all 0.5s ease-in;
}

.snippet {
  position: relative;
  grid-template-rows: repeat(5, max-content);
  justify-items: center;
  padding-top: 2em;
  height: 30em;
}

.snippet-image {
  width: 30em;
  max-width: 80vw;
  margin-top: 2em;
  margin-right: 1em;
  border-radius: 1em;
  border: var(--clr-primary) solid 0.5em;
  transition: all 0.25s ease-in;
  padding: 0.4em;
  float: right;
}

.snippet-title, .snippet-desc {
  font-family: Noto, sans-serif;
  color: var(--clr-primary);
  max-width: 30vw;
}

.snippet-desc {
  font-weight: 300;
  text-align: justify;
  width: 30em;
  max-width: 30%;
  font-size: 1.05em;
}

.snippet-metadata {
  font-family: "Fira Code", monospace;
  font-weight: 300;
  color: var(--clr-primary);
  max-width: 30vw;
}

.snippet-image:hover, .snippet-image:focus {
  transform: scale(1.05);
  transition: all 0.25s ease-in;
}

#main-img {
  display: block;
  position: relative;
  border: 10px var(--clr-primary) solid;
  border-radius: 10px;
  margin: auto;
  padding: 0.5em;
  margin-bottom: 1em;
  border-radius: 0%;
  width: 35em;
  height: auto;
  max-width: 85vw;
  transition: all 0.25s ease-in;
}

#main-img:hover, #main-img:focus {
  transform: scale(1.05);
  transition: all 0.25s ease-in;
}

#cc {
  display: block;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 1.1em;
  font-family: "JetBrains Mono", monospace;
  color: var(--clr-primary);
}

.blog {
  display: block !important;
  height: fit-content;
  position: relative;
  padding-top: 5em;
  text-align: center;
  padding-bottom: 4em;
}

#footer img {
  width: 50px;
  border-radius: 50%;
  padding: 10px;
  margin: 20px;
  background-color: var(--clr-secondary);
}

.prfl-img:hover, .prfl-img:focus, .prfl-img:active {
  animation: img-hover 500ms linear forwards;
}

#contacts {
  display: grid;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: -20px;
  margin-bottom: -50px;
  background-color: var(--clr-body-secondary);
  font-size: 30px;
  text-align: center;
  color: var(--clr-secondary);
}

footer {
  display: flex;
  height: 30px;
  justify-content: center;
  align-content: center;
  font-family: "Fira Code", monospace;
  margin-top: 50px;
  background-color: var(--clr-body-secondary);
  color: var(--clr-secondary);
  padding-top: 1em;
}

.button:hover, .button:focus-within, .button:active {
  animation: btn-hover 500ms linear forwards;
}

@keyframes btn-hover {
  100% {
      background-color: var(--clr-nav-hover);
  }
}

@keyframes img-hover {
  100% {
      box-shadow: var(--clr-shdw) 10px 10px 10px;
  }
}

@media all and (max-width: 870px) {
  #navbar {
      position: sticky;
      display: flex;
      justify-content: space-around;
      position: fixed;
      height: max-content;
      gap: 0;
  }

  .button {
      min-width: 5em;
      padding: auto;
  }

  .nav-link {
      font-size: 1em;
      position: relative;
      font-weight: 300;
      font-family: system-ui;
  }

  .project-tile {
      display: flex;
      justify-content: space-evenly;
      width: 80%;
      height: auto;
      font-size: 14px;
      border-radius: 10px;
      margin: 0;
  }

  .snippet {
      position: relative;
      display: grid;
      grid-template-rows: repeat(5, max-content);
      justify-items: center;
      padding-top: 2em;
      right: 1em;
      height: max-content;
  }

  .snippet-image {
      width: 30em;
      max-width: 80vw;
      margin-top: 2em;
      border-radius: 1em;
      border: var(--clr-primary) solid 0.5em;
      transition: all 0.25s ease-in;
      padding: 0.4em;
  }

  .snippet-title, .snippet-desc {
      font-family: Noto, sans-serif;
      color: var(--clr-primary);
      max-width: 80vw;
  }

  .snippet-desc {
      font-weight: 300;
      text-align: justify;
      width: 30em;
      max-width: 75vw;
      font-size: 1.05em;
  }

  .snippet-metadata {
      font-family: "Fira Code", monospace;
      font-weight: 300;
      color: var(--clr-primary);
      max-width: 75vw;
  }

  .blog-h {
      width: 50vw;
  }
}
